.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.is-red {
  background: red;
}

.is-center {
  text-align: center;
}

.charlist-container {
  margin: 20px;
}

.charlist-col {
  margin: 2px 2px;
}

/* .scrollable {
  margin: 2px, 2px;
  padding: 4px;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-x: auto;
} */

.charbutton-button {
  background-color: transparent; 
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  width: 50%;
}

.charbutton-button:hover {
  background-color: rgba(0, 0, 0, .01); 
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
  width: 50%;
  border-radius: .25rem;
}

.header {
  font-weight: 22px;
}
c
.container-shadow-bottom {
  -webkit-box-shadow: 0px -4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0 4px px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-centre {
  text-align: center;
}

.movelist-row {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 22px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7)
}

.move-detail-row{
  padding: 12px 12px;
}

.movelist-footer {
  text-align: center;
}

.footer-text{
  color: rgba(0, 0, 0, .3)
}
.no-spacing{
  padding: 0px;
  margin: 0px; 
  
}

.top-move-row {
  background-color: rgba(0, 0, 0, 0.02);
}

.move-select-button {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2); 
  color: rgba(0, 0, 0, 0.5);
  border: 2px rgba(0, 0, 0, 0.2);
  padding: 10px 60px
}

.back-button{
  background-color: transparent; 
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, .1);
  text-align: center;
  border-radius: .25rem;
  width: 25%;
}

.back-button:hover{
  background-color: rgba(0, 0, 0, .01); 
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
  border-radius: .25rem;
  width: 25%;
}

.move-select-button:hover {
  background-color: transparent;
}
.move-select-button:active {
  position: relative;
  top: 1px;
}

.movelist-header {
  border-bottom: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.sticky {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}

.sticky-phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}


